<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>test</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
  <div id="app">
    <div>
      <!-- v-model是双向绑定，input框输入内容会改变data.title，同时，data.title的改变也会影响input -->
      <!-- v-bind是单向绑定，是将data.title的内容赋给input，一般用于元素的属性绑定 -->
      <input v-model="title">
      <button v-on:click="add">submit</button>
    </div>
    <div>
      <ul>
        <li v-for="item in list">{{item}}</li>
      </ul>
    </div>
  </div>

  <!-- Vue实现 -->
  <!-- 数据与视图分离 - 解耦（开放封闭原则） -->
  <script type="text/javascript">
    var vm = new Vue({
      el: '#app',
      data: {
        title: '',
        list: []
      },
      methods: {
        add: function () {
          this.list.push(this.title)
          this.title = ''
        }
      }
    })
  </script>
</body>
</html>

